*{
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image:
        radial-gradient(ellipse farthest-corner at 0 0, 
        rgba(0,0,0,.2) 0%, rgba(62,45,177, .3) 50%,
        rgba(255, 255, 255, 0.3) 95%), 
        linear-gradient(to bottom, #b8e5ff, #4b0f5a 100%);  
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 30px 0px;
}
  
.container {
    position: relative;
    margin: auto;
    max-width: 600px;
    min-height: 100%;
    border-radius: 25px;
    box-shadow: 0 0 30px #1c194d;
    background-color: #242057;
}
  
header {
    padding: 20px 15px 18px 15px;
    background: #1c194d;
    border-bottom: 2px solid #5e2cad;
    text-align: center;
    line-height: 1;
    border-radius: 25px 25px 0px 0px;
}

.login{
    position: absolute;
    left: 10px;
    top: 55px;
    font-size: 18px;
    color:#ececec;
}

h1 {
    margin: auto;
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    letter-spacing: 2px;
}

.chat{
    word-wrap: break-word;
}

.message-window {
    position: absolute;
    top: 80px;
    bottom: 70px;
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.scroll-down{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 90px;
    margin-right: 25px;
}

.scroll-down button {
    width: 40px;
    height: 40px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #242057;
    box-shadow: #000000 3px 3px 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    height: 85px;
    box-sizing: border-box;
    padding: 30px 15px 15px 15px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #242057;
    border-radius: 0px 0px 25px 25px; 
}
  
form {
    margin-top: -10px;
    position: relative;
}
  
.new-message input {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #6e62e2;
    box-shadow: 0 0 30px #191838;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
  
.new-message input:focus{
    outline: 0;
}

::placeholder{
    color: white;
    opacity: 0.7;
}

.message {
    list-style: none;
    padding: 15px;
    border-bottom: #3f3b77 solid 1px;
    color: #ececec;
}

.username-date{
    font-size: 14px;
}

.username{
    font-size: 20px;
    font-weight: bold;
}

.message-date{
    margin-left: 8px;
    color: #b9b1ff;
}

.delete-message{
    position: absolute;
    right: 0;
    margin: 5px 10px 0px 0px;
}

.delete-message button{
    background-color: #3f3b77;
    border-radius: 100px;
    border: none;
    color: #ececec;
    font-weight: bold;
    width: 50px;
    cursor: pointer;
}

.message-text{
    margin-top: 5px;
    font-size: 20px;
}

/* LOGIN */
#login-dropdown-list{
    text-align: left;
}
  
#login-buttons .login-button{
    font-size: 18px;
    font-weight: bold;
    background-color: #3f3b77;
    opacity: 0.9;
    transition: background-color 0.4s;
}
  
#login-buttons .login-button:hover{
    background-color: #5e2cad;
}

.accounts-dialog, .accounts-dialog label{
    font-size: 18px;
}

@media(max-width: 600px){
    body{
        background-color: #242057;
        background-image: none;
        margin-top: 0px;
    }

    header, footer{
        border-radius: 0;
    }

    .container{
        box-shadow: none
    }

    .login{
        font-size: 16px;
    }

    .new-message input {
        font-size: 16px;
    }

    .username-date{
        font-size: 10px;
    }

    .username{
        font-size: 16px;
        font-weight: bold;
    }

    .delete-message button{
        width: 45px;
        font-size: 12px;
    }

    .message-text{
        font-size: 18px;
    }
}